.Button.item-void {
  background-color: #f7f4d2;
  font-style: italic;
  font-weight: bold;
  color: #444;
}

.Button.eat-in {
  background-color: #90c0f4;
  color: #333;
}

.Button.complete-order {
  background-color: rgb(16, 123, 16);
  color: #eee;
  font-weight: bold;
  font-size: 16px;
}
