.FoodItems,
.ExtraButtons {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-gap: 10px;
}

.ExtraButtons {
  padding-top: 10px;
}

.two-col {
  grid-column-end: span 2;
}

.Button.coffee-addons {
  background-color: #b8bac3;
  color: #222;
}

.Button.dark-roast {
  background-color: #501c68;
  color: #eee;
}

.Button.original-blend {
  background-color: #2c4f91;
  color: #eee;
}
