.buttons {
  display: flex;
  flex-direction: row;
}

.totals {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.buttons > div {
  padding: 5px;
}

.orders {
  padding: 5px;
  display: grid;
  grid-template-columns: 223px 224px 223px;
  grid-gap: 10px;
}

.orders .order-details {
  border: 1px solid #ccc;
  padding: 5px;
}
