.screen {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.totals {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.buttons > div {
  padding: 5px;
}

.food-items {
  align-self: flex-end;
}
